<!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="circle"></div>
  </div>
</div>
<!--PreLoader Ends-->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Fresh and Organic</p>
          <h1>Cart</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="cart-table-wrap">
          <table id="cartTable" class="cart-table">
            <thead class="cart-table-head">
              <tr class="table-head-row">
                <th class="product-remove">Action</th>
                <th class="product-image">Ảnh Sản Phẩm</th>
                <th class="product-name">Tên Sản Phẩm</th>
                <th class="product-price">Giá</th>
                <th class="product-quantity">Số Lượng</th>
              </tr>
            </thead>
            <tbody class="Card-order-body">
              <tr class="table-body-row">
                <td class="product-remove">
                  <a href="#"><i class="far fa-window-close"></i></a>
                </td>
                <td class="product-image">
                  <img src="assets/img/products/product-img-1.jpg" alt="" />
                </td>
                <td class="product-name">Strawberry</td>
                <td class="product-price">85,000VNĐ</td>
                <td class="product-quantity">
                  <input type="number" value="0" placeholder="0" min="0" />
                </td>
              </tr>
              <tr class="table-body-row">
                <td class="product-remove">
                  <a href="#"><i class="far fa-window-close"></i></a>
                </td>
                <td class="product-image">
                  <img src="assets/img/products/product-img-2.jpg" alt="" />
                </td>
                <td class="product-name">Berry</td>
                <td class="product-price">70,000VNĐ</td>
                <td class="product-quantity">
                  <input type="number" value="0" placeholder="0" min="0" />
                </td>
              </tr>
              <tr class="table-body-row">
                <td class="product-remove">
                  <a href="#"><i class="far fa-window-close"></i></a>
                </td>
                <td class="product-image">
                  <img src="assets/img/products/product-img-3.jpg" alt="" />
                </td>
                <td class="product-name">Lemon</td>
                <td class="product-price">35,000VNĐ</td>
                <td class="product-quantity">
                  <input type="number" value="0" placeholder="0" min="0" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="total-section">
          <table class="total-table">
            <thead class="total-table-head">
              <tr class="table-total-row">
                <th>Bảng Tính</th>
                <th>Giá</th>
              </tr>
            </thead>
            <tbody>
              <tr class="total-data bg-warning bg-gradient">
                <td><strong>Tạm Tính: </strong></td>
                <td id="IdSubtotal">0,000 VNĐ</td>
              </tr>
              <tr class="total-data bg-success bg-gradient">
                <td><strong>Phí Vận Chuyển: </strong></td>
                <td id="IDShipping">45,000 VNĐ</td>
              </tr>
              <tr class="total-data bg-info bg-gradient">
                <td><strong>Tổng cộng: </strong></td>
                <td id="TotalCart">0,000 VNĐ</td>
              </tr>
            </tbody>
          </table>
          <div class="cart-buttons">
            <a href="cart.html" class="boxed-btn">Update Cart</a>
            <a href="checkout.html" class="boxed-btn black">Check Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end cart -->
