<!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="circle"></div>
  </div>
</div>
<!--PreLoader Ends-->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p style="font-size: 25px">Fresh and Organic</p>
          <h1 style="font-size: 100px">Cart</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-100 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="cart-table-wrap table-responsive" style="height: 400px">
          @if (IsLoading) {
          <div class="container mt-100 text-center">
            <div
              class="spinner-grow"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="visually-hidden">Loading... </span>
            </div>
            <div
              class="spinner-grow"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="visually-hidden">Loading... </span>
            </div>
            <div
              class="spinner-grow"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="visually-hidden">Loading... </span>
            </div>
          </div>
          }@else {

          <table id="cartTable" class="cart-table">
            <thead class="cart-table-head">
              <tr class="table-head-row">
                <th class="product-stt">STT</th>
                <th class="product-remove">Ảnh Sản Phẩm</th>
                <th class="product-image">Tên Sản Phẩm</th>
                <th class="product-name">Giá</th>
                <th class="product-price">Số Lượng</th>
                <th class="product-quantity">Action</th>
              </tr>
            </thead>
            <tbody class="Card-order-body">
              <tr
                class="table-body-row"
                *ngFor="let product of ArrayListCart; let i = index"
                #tableCart
              >
                <td class="product-stt">
                  <p>{{ i + 1 }}</p>
                </td>

                <td class="product-image">
                  <img
                    src="assets/img/products/product-img-{{ i + 1 }}.jpg"
                    alt=""
                  />
                </td>
                <td class="product-name">{{ product.productName }}</td>
                <td class="product-price">
                  {{
                    product.productPrice | currency : "VND" : "symbol-narrow"
                  }}
                </td>
                <td class="product-quantity">
                  <input
                    class="text-center"
                    type="number"
                    value="{{ product.quantity }}"
                    placeholder="0"
                    min="0"
                    (change)="changeValueInTable($event, product, i)"
                  />
                </td>

                <td class="product-remove">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#DeletePopUp"
                    (click)="DeleteOrderDetailFunction($event, product)"
                  >
                    Xóa
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          }
        </div>
      </div>

      <div class="col-lg-4">
        <div class="total-section">
          <table class="total-table">
            <thead class="total-table-head">
              <tr class="table-total-row">
                <th>Bảng Tính</th>
                <th>Giá</th>
              </tr>
            </thead>
            <tbody>
              <tr class="total-data bg-warning bg-gradient">
                <td><strong>Tạm Tính: </strong></td>
                <td>
                  {{ subtotal | currency : "VND" : "symbol-narrow" }}
                </td>
              </tr>
              <tr class="total-data bg-success bg-gradient">
                <td><strong>Phí Vận Chuyển: </strong></td>
                <td id="IDShipping">
                  {{ feeShipping | currency : "VND" : "symbol-narrow" }}
                </td>
              </tr>
              <tr class="total-data bg-info bg-gradient">
                <td><strong>Tổng cộng: </strong></td>
                <td id="TotalCart">
                  {{ Total | currency : "VND" : "symbol-narrow" }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row mt-lg-5 ml-5">
            <div class="col-6">
              <a
                id="liveToastBtn"
                type="button"
                class="boxed-btn black"
                (click)="SubmitCart()"
              >
                Cập nhật giỏ hàng
              </a>
            </div>
            <div class="col-6">
              <a href="/checkout" class="boxed-btn black">Check Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end cart -->

<!-- Modal -->
<div
  class="modal fade"
  id="DeletePopUp"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog pt-150" style="height: 100%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa Đơn Hàng</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa
        <span class="fw-bold text-decoration-underline">{{
          DeleteorderDetailName
        }}</span>
        khỏi giỏ hàng không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <button
          id="liveToastBtn"
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="this.SubmitDelete()"
        >
          Xóa đơn hàng
        </button>
      </div>
    </div>
  </div>
</div>
