<!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="circle"></div>
  </div>
</div>
<!--PreLoader Ends-->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Chúng tôi bán sơn</p>
          <p style="font-size: 30px">Sơn Trường Trinh</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- featured section -->
<div class="feature-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="featured-text">
          <h2 class="pb-3">
            Tại sao lại chọn <span class="orange-text">Sơn Trường Trinh?</span>
          </h2>
          <div class="row">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
              <div class="list-box d-flex">
                <div class="list-icon">
                  <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="content">
                  <h3>Giao hàng tận nơi</h3>
                  <p>
                    <span class="fw-bold">Thuận Tiện:</span>
                    Chúng tôi sẽ đảm bảo hàng hóa của bạn được giao đến địa chỉ
                    chỉ định một cách nhanh chóng và tiện lợi.
                  </p>
                  <p>
                    <span class="fw-bold">An Toàn:</span>
                    Chúng tôi luôn đặt sự an toàn của hàng hóa là ưu tiên hàng
                    đầu. Dù bạn gửi gì đi nữa, chúng tôi cam kết vận chuyển hàng
                    hóa của bạn một cách cẩn thận và an toàn đến đích.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
              <div class="list-box d-flex">
                <div class="list-icon">
                  <i class="fas fa-money-bill-alt"></i>
                </div>
                <div class="content">
                  <h3>Giá Cả Cạnh Tranh</h3>
                  <p>
                    <span class="fw-bold">Tiết Kiệm:</span>
                    Với "Giá Tốt Nhất," bạn có cơ hội sở hữu những sản phẩm chất
                    lượng mà không cần phải lo lắng về giá cả. Chúng tôi cam kết
                    mang lại giá trị tốt nhất cho mỗi khoản chi tiêu của bạn.
                  </p>
                  <p>
                    <span class="fw-bold">Chất Lượng:</span>
                    Dù giá cả cạnh tranh, chúng tôi không bao giờ đặt chất lượng
                    sản phẩm qua một bên. Tất cả những sản phẩm được cung cấp
                    vẫn đảm bảo chất lượng cao nhất để đem lại trải nghiệm tốt
                    nhất cho khách hàng.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
              <div class="list-box d-flex">
                <div class="list-icon">
                  <i class="fas fa-briefcase"></i>
                </div>
                <div class="content">
                  <h3>Custom Box</h3>
                  <p>
                    <span class="fw-bold">Sự Đặc Biệt và Độc Đáo:</span>
                    Với khả năng tùy chỉnh linh hoạt, "Custom Box" mang đến cho
                    bạn sự độc đáo và nổi bật khi sở hữu các hộp đựng được thiết
                    kế đặc biệt theo phong cách riêng của bạn.
                  </p>
                  <p>
                    <span class="fw-bold">Phù Hợp với Mọi Mục Đích:</span>
                    Dù bạn cần hộp đựng cho mục đích cá nhân, kinh doanh hay
                    quảng cáo, "Custom Box" sẽ đáp ứng mọi nhu cầu của bạn một
                    cách chuyên nghiệp và linh hoạt.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="list-box d-flex">
                <div class="list-icon">
                  <i class="fas fa-sync-alt"></i>
                </div>
                <div class="content">
                  <h3>Hoàn Tiền Nhanh Chóng</h3>
                  <p>
                    <span class="fw-bold">Nhanh Chóng và Hiệu Quả:</span>
                    Đơn xin hoàn tiền của bạn sẽ được xử lý một cách nhanh chóng
                    và hiệu quả, giúp bạn tiết kiệm thời gian và nhanh chóng có
                    lại số tiền bạn đã chi trước đó.
                  </p>
                  <p>
                    <span class="fw-bold">Trải Nghiệm Khách Hàng Tốt: </span>
                    Chúng tôi luôn tôn trọng và lắng nghe ý kiến của khách hàng,
                    vì vậy quy trình hoàn tiền được thiết kế để đem lại sự thoải
                    mái và tin tưởng cho bạn.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end featured section -->

<!-- team section -->
<div class="mt-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3>Đội ngũ <span class="orange-text">Chúng tôi</span></h3>
          <p>
            Chúng tôi là một đội ngũ người đam mê, có kinh nghiệm và cam kết
            mang đến những giải pháp sáng tạo và hiệu quả cho khách hàng.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-team-item">
          <div class="team-bg team-bg-1"></div>
          <h4>Jimmy Doe <span>Farmer</span></h4>
          <ul class="social-link-team">
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-item">
          <div class="team-bg team-bg-2"></div>
          <h4>Marry Doe <span>Farmer</span></h4>
          <ul class="social-link-team">
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
        <div class="single-team-item">
          <div class="team-bg team-bg-3"></div>
          <h4>Simon Joe <span>Farmer</span></h4>
          <ul class="social-link-team">
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end team section -->

<!-- testimonail-section -->
<div class="testimonail-section mt-80 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <div class="testimonial-sliders">
          <div class="single-testimonial-slider">
            <div class="client-avater">
              <img src="assets/img/avaters/avatar1.png" alt="" />
            </div>
            <div class="client-meta">
              <h3>Saira Hakim <span>Local shop owner</span></h3>
              <p class="testimonial-body">
                " Sed ut perspiciatis unde omnis iste natus error veritatis et
                quasi architecto beatae vitae dict eaque ipsa quae ab illo
                inventore Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium "
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
          </div>
          <div class="single-testimonial-slider">
            <div class="client-avater">
              <img src="assets/img/avaters/avatar2.png" alt="" />
            </div>
            <div class="client-meta">
              <h3>David Niph <span>Local shop owner</span></h3>
              <p class="testimonial-body">
                " Sed ut perspiciatis unde omnis iste natus error veritatis et
                quasi architecto beatae vitae dict eaque ipsa quae ab illo
                inventore Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium "
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
          </div>
          <div class="single-testimonial-slider">
            <div class="client-avater">
              <img src="assets/img/avaters/avatar3.png" alt="" />
            </div>
            <div class="client-meta">
              <h3>Jacob Sikim <span>Local shop owner</span></h3>
              <p class="testimonial-body">
                " Sed ut perspiciatis unde omnis iste natus error veritatis et
                quasi architecto beatae vitae dict eaque ipsa quae ab illo
                inventore Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium "
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end testimonail-section -->

<!-- logo carousel -->
<!-- <div class="logo-carousel-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="logo-carousel-inner">
          <div class="single-logo-item">
            <img src="assets/img/company-logos/1.png" alt="" />
          </div>
          <div class="single-logo-item">
            <img src="assets/img/company-logos/2.png" alt="" />
          </div>
          <div class="single-logo-item">
            <img src="assets/img/company-logos/3.png" alt="" />
          </div>
          <div class="single-logo-item">
            <img src="assets/img/company-logos/4.png" alt="" />
          </div>
          <div class="single-logo-item">
            <img src="assets/img/company-logos/5.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- end logo carousel -->
