.logo{
    border-radius: 50%;
    width:70%;
    opacity: 0.7;
    transition: opacity 0.5s;
}
.logo:hover{
    transition: opacity 0.5s;
    opacity: 1;
}

.counter{
    font-size: 10px;
    border-radius: 20%;
    opacity: 1;
    color: #F28123;
}
.shoppingcart{
    opacity: 0.9;
}