<!-- header -->
<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="site-logo">
            <a href="index.html">
              <img src="assets/img/logo.png" alt="logo" class="logo" />
            </a>
          </div>
          <!-- logo -->

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li><a href="index.html">Trang Chủ</a></li>
              <li><a href="about">Thông Tin Về Trang</a></li>
              <li><a href="news">Tin Tức</a></li>
              <li><a href="contact">Liên Hệ</a></li>
              <li>
                <a href="products">Shop</a>
                <ul class="sub-menu">
                  <li><a href="products">Shop</a></li>
                  <li><a href="checkout">Check Out</a></li>
                  <li><a href="cart">Cart</a></li>
                </ul>
              </li>
              <li>
                <div class="header-icons">
                  <a class="shopping-cart" href="cart"
                    ><i class="fas fa-shopping-cart"></i
                  ></a>
                  <a class="mobile-hide search-bar-icon" href="products"
                    ><i class="fas fa-search"></i
                  ></a>
                </div>
              </li>
            </ul>
          </nav>
          <a class="mobile-show search-bar-icon" href="products"
            ><i class="fas fa-search"></i
          ></a>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->
