<!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="circle"></div>
  </div>
</div>
<!--PreLoader Ends-->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p style="font-size: 30px">Liên Hệ với chúng tôi</p>
          <p class="mt-3">Hỗ trợ 24/7</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- contact form -->
<div class="contact-from-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="form-title">
          <h2>Gửi bất kỳ câu hỏi nào cho chúng tôi!</h2>
          <p>
            Mục tiêu chính của tôi là đảm bảo bạn nhận được câu trả lời chất
            lượng, đầy đủ thông tin, và phù hợp nhất với nhu cầu của bạn. Bất kỳ
            khi nào bạn có thắc mắc hay cần hỗ trợ, đừng ngần ngại gửi câu hỏi -
            tôi sẵn sàng hỗ trợ bạn. Với tinh thần nhiệt huyết và am hiểu, hãy
            gửi bất kỳ câu hỏi nào cho tôi, và tôi sẽ cố gắng giúp bạn đạt được
            câu trả lời mà bạn đang tìm kiếm.
          </p>
        </div>
        <div id="form_status"></div>
        <div class="contact-form">
          <form
            type="POST"
            id="fruitkha-contact"
            onSubmit="return valid_datas( this );"
          >
            <p>
              <input
                type="text"
                placeholder="Họ và Tên"
                name="name"
                id="name"
              />
              <input type="email" placeholder="Email" name="email" id="email" />
            </p>
            <p>
              <input type="tel" placeholder="SĐT" name="phone" id="phone" />
              <input
                type="text"
                placeholder="Tiêu Đề"
                name="subject"
                id="subject"
              />
            </p>
            <p>
              <textarea
                name="message"
                id="message"
                cols="30"
                rows="10"
                placeholder="Lời Nhắn"
              ></textarea>
            </p>
            <input type="hidden" name="token" value="FsWga4&@f6aw" />
            <p><input type="submit" value="Gửi" /></p>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-form-wrap">
          <div class="contact-form-box form-title">
            <h3><i class="fas fa-map"></i> Địa Chỉ Cửa Hàng</h3>
            <p>
              Sân vận động Long Khánh <br />
              543 Đ. 21 Tháng 4, Xuân Bình, Long Khánh, Đồng Nai <br />
              Việt Nam
            </p>
          </div>
          <div class="contact-form-box">
            <h3><i class="far fa-clock"></i> Giờ Hoạt Động</h3>
            <p>
              MON - FRIDAY: span 8 to 9 PM <br />
              SAT - SUN: 10 to 8 PM
            </p>
          </div>
          <div class="contact-form-box">
            <h3><i class="fas fa-address-book"></i> Liên Hệ</h3>
            <p>
              Phone: 0356173124 <br />
              Email: nguyencaotan2607.gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end contact form -->

<!-- find our location -->
<div class="find-location blue-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p><i class="fas fa-map-marker-alt"></i> Find Our Location</p>
      </div>
    </div>
  </div>
</div>
<!-- end find our location -->

<!-- google map section -->
<div class="embed-responsive embed-responsive-21by9">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6692.9038524305315!2d107.24234762098786!3d10.931354400867283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174fed5ac4c2237%3A0x77b6283dac98b784!2zU8OibiB24bqtbiDEkeG7mW5nIExvbmcgS2jDoW5oLCA1NDMgxJAuIDIxIFRow6FuZyA0LCBYdcOibiBCw6xuaCwgTG9uZyBLaMOhbmgsIMSQ4buTbmcgTmFpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1710392478302!5m2!1svi!2s"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<!-- end google map section -->
