<!-- footer -->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-box about-widget">
          <h2 class="widget-title">Về Chúng Tôi</h2>

          <div>
            <div>
              <h3><i class="fas fa-map"></i> Địa Chỉ Cửa Hàng</h3>
              <p>
                Sân vận động Long Khánh <br />
                543 Đ. 21 Tháng 4, Xuân Bình, Long Khánh, Đồng Nai <br />
                Việt Nam
              </p>
            </div>
            <div>
              <h3><i class="far fa-clock mt-4"></i> Giờ Hoạt Động</h3>
              <p>
                Thứ 2 - Thứ 6: Từ 8h đến 21h <br />
                Thứ 7 - Chủ Nhật: 10h đến 20h
              </p>
            </div>
            <div>
              <h3><i class="fas fa-address-book mt-4"></i> Liên Hệ</h3>
              <p>
                Phone: 0356173124 <br />
                Email: nguyencaotan2607.gmail.com
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box get-in-touch">
          <h2 class="widget-title">Mạng Xã Hội</h2>
          <ul>
            <li style="font-size: x-large">
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li style="font-size: x-large">
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li style="font-size: x-large">
              <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="font-size: x-large">
              <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Menu</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Shop</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box subscribe">
          <h2 class="widget-title">Đăng Ký</h2>
          <p>
            Đăng ký vào danh sách gửi thư của chúng tôi để nhận được những cập
            nhật mới nhất.
          </p>
          <form action="index.html">
            <input type="email" placeholder="Email" />
            <button type="submit"><i class="fas fa-paper-plane"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <p>
          Copyrights &copy; 2024 -
          <a href="https://www.facebook.com/caotan.nguyen.31/">Nguyễn Cao Tấn</a
          >, All Rights Reserved.<br />
          Distributed By - <a href="https://themewagon.com/">NCTServices</a>
        </p>
      </div>
      <div class="col-lg-6 text-right col-md-12">
        <div class="social-icons">
          <ul>
            <li>
              <a
                href="https://www.facebook.com/caotan.nguyen.31/"
                target="_blank"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end copyright -->
