<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">Về Chúng Tôi</h2>
                    <p>Chúng tôi luôn lắng nghe ý kiến đóng góp từ khách hàng của mình. Mọi thắc mắc hoặc yêu cầu đặc
                        biệt, vui lòng để lại tin nhắn, chúng tôi sẽ liên lạc với bạn sớm nhất có thể. Trong trường hợp
                        khẩn cấp, vui lòng gọi chúng tôi theo số điện thoại bên dưới để được hỗ trợ nhanh nhất.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Liên Hệ</h2>
                    <ul>
                        <li>Thành Phố Long Khánh</li>
                        <li>nguyencaotan2607.gmail.com</li>
                        <li>0356173125</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Shop</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Đăng Ký</h2>
                    <p>Đăng ký vào danh sách gửi thư của chúng tôi để nhận được những cập nhật mới nhất.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights &copy; 2024 - <a href="https://www.facebook.com/caotan.nguyen.31/">Nguyễn Cao Tấn</a>, All Rights
                    Reserved.<br>
                    Distributed By - <a href="https://themewagon.com/">NCTServices</a>
                </p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/caotan.nguyen.31/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->